
// Variables de colores y fuentes
$color-fondo: #ffffff;
$color-texto: #1a1a1a;
$color-logo: #4169E1;
$color-acento: #ffde59; // El amarillo que usás en el hover
$fuente-principal: 'Nunito', sans-serif;

// Breakpoints 
$breakpoint: (

    'mobile': 576px,
    'desktop': 1024px,
);

